* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	background: #292929;
	font-family: "Body";
	scroll-behavior: smooth;
	overflow-x: hidden;
	// width: 100vw;
}

.heading {
	font-family: "Heading";
}

.body {
	font-family: "Body";
}

button {
	outline: none;
}

#aboutHead, #aboutBody, #servicesHead, #servicesBody {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	// color: red;
}

.word {
	transform: translateY(300px);
	transition: transform 0.5;
}