* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	background: #292929;
	font-family: "Body";
	scroll-behavior: smooth;
	overflow-x: hidden;
	// width: 100vw;
}

.heading {
	font-family: "Heading";
}

.body {
	font-family: "Body";
}
