@font-face {
	font-family: "Heading";
	src: url("../fonts/heading.otf") format("opentype");
	font-display: swap;
}

@font-face {
	font-family: "Body";
	src: url("../fonts/body.otf") format("opentype");
	font-display: swap;
}
